#mainBackground {
  width: 100%;
  height: 100%;
  fill: black;
}

#nightBackground {
  width: 100%;
  height: 100%;
  x:0;
  y:0; 
}

#dateText{
  font-size: 22;
  font-family: System-Bold;
  font-weight: bold;
  fill: white;
  text-anchor: start;
  text-length:16;
  width:50%-5;
  x: 5;
  y: 25;
}

.actIcon {
  x: 5;
  y: 50-16;
  width: 16;
  height: 16;
  fill: white;
}

#actText{
  font-size: 22;
  font-family: System-Regular;
  fill: white;
  text-anchor: start;
  text-length:12;
  x: $+5;
  y: 50;
}

#timeText{
  font-size: 57;
  font-family: System-Bold;
  font-weight: bold;
  fill: white;
  text-anchor: end;
  text-length:16;
  x: 295;
  y: 50;
}

#condIcon {
  x: 50%-100;
  y: 50%-100;
  width: 200;
  height: 200;
}

#locationarea {
  x: 0;
  y: 100%-50;
  width: 50%-5;
  height: 50;
}

#locIcon {
  width: 16;
  height: 16;
  x: 5;
  y: 15;
  fill:white;
}

#locText {
  font-size: 14;  
  font-family: System-Light;
  text-overflow: ellipsis;
  x: 25;
  y: $-12;
  text-length:16;
  fill: white;
}
#lochText {
  font-size: 12;  
  font-family: System-Light;
  text-overflow: ellipsis;
  x: 25;
  y: $;
  text-length:8;
  fill: white;
}

#battIcon {
  width: 40;
  height: 32;
  x: 50%-20;
  y: 100%-42;
  fill: white;
}

#battStatus {
  width: 16;
  height: 27;
  x: 50%-8;
  y: 100%-38;
  fill: green;
}

#stayOnStatus {
  width: 8;
  height: 15;
  x: 50%-4;
  y: 100%-32;
  fill: white;
}

#tempText{
  font-size: 50;
  font-family: System-Bold;
  font-weight: bold;
  fill: white;
  text-anchor: end;
  text-length:8;
  x: 295;
  y: 100%-10;
  height: 50;
}